.tablePage {
  padding: 0 3%;
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6;
}

.tableContainer {
  // overflow-x: auto;
  margin-top: 20px;
  border-radius: 12px;
  background-color: #ffffff;
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  // overflow: hidden;
}

.dataTable th,
.dataTable td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
  font-size: 16px;
}

.dataTable th {
  background-color: #f9fafb;
  color: #111827;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.dataTable td {
  background-color: #ffffff;
  color: #4b5563;
}

.dataTable tr {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dataTable tr:hover {
  background-color: #adadad;
}

.headerCell {
  font-size: 18px;
  padding: 15px;
}

.noDataCell {
  text-align: center;
  color: #6b7280;
  font-style: italic;
  padding: 25px;
}

.addButton {
  margin: 20px 0;
  display: inline-block;
  background-color: #2563eb;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #1d4ed8;
}
